i feel a little nervous i go to the gym;fear
im feeling really out of place and irritated;anger
i feel if i completely hated things i d exercise my democratic right speak my mind in what ever ways possible and try to enact a change;anger
i feel a little stunned but can t imagine what the folks who were working in the studio up until this morning are feeling;surprise
i think i started to feel a little homesick;sadness
i feel like im at the spa getting a wonderful facial when i use them;joy
i feel shy to admit that i was struggling to haul a single computer up;fear
i feel blessed to know this family;love
i am ever feeling nostalgic about the fireplace i will know that it is still on the property;love
i feel romantic too;love
